
<div class="bc-list-container">
	<div class="bc-list-table">
		<header class="bc-list-header{{if selector ' selector'}}{{if edit ' edit'}}{{if hasImage ' image'}}">
			<span class="header-extra"></span>

			{{#each headerItems as |header|}}
				{{#if header.class}}
					<span class="{{header.class}}">{{header.title}}</span>
				{{else if header.title}}
					<span>{{header.title}}</span>
				{{else}}
					<span>{{header}}</span>
				{{/if}}
			{{/each}}
		</header>

		{{bc-loading class=(if isLoading "show" "") fixed=false isLoading=isLoading minimal=minimal}}

		<section class="bc-list-body{{if isLoading ' hide'}}{{if selector ' selector'}}{{if large ' large'}}{{if edit ' edit'}}{{if hasImage ' image'}}{{if clickable ' clickable'}}">
			<div class="list-row select-row">
				<span class="list-extra select-all" style="top: -50px; display: inline;">
					<div class="select">
						<div>
							{{#if hasModel}}
								{{bc-checkbox value=isSelectAll action="selectAll"}}
							{{/if}}
						</div>
					</div>
				</span>
			</div>

			{{#each model as |row|}}
				<div class="list-row content-row" {{action 'rowClick' row bubles=false }}>
					<span class="list-extra">
						<div class="select">
							<div>
								{{bc-checkbox value=row.isSelected action="itemSelected" selectItem=row}}
							</div>
						</div>
						<div class="image">
							<img src="{{if row.imageThumbUrl row.imageThumbUrl row.imagePlaceholder}}" />
						</div>
					</span>

					{{yield row}}
				</div>
			{{else}}
				<div class="list-row content-row hide">
					<span class="list-extra"></span>
					{{yield row}}
				</div>
				<div class="list-no-results">
					<span>No Entries Found</span>
				</div>
			{{/each}}
		</section>
	</div>
</div>