

{{#if iconName}}
	{{md-button class="dots" name=iconName}} {{! onClick=(action "clickMenu")}}
{{else if small}}
	{{md-button class="dots" name="more_vert"}} {{! onClick=(action "clickMenu")}}
{{else}}
	<a class="d-button grey" {{action "openMenu" bubbles=false}}>{{menuTitle}}</a>
{{/if}}

<div class="download" {{action "openMenu" bubbles=false}}>
	<span class="c-icon download-icon"></span>
</div>

<div class="list-container">
	<ul class="select-container{{if highlightSlected '' ' hl-disabled'}}" {{action "closeMenu" bubbles=false}}>
		{{#each model as |item|}}
			<li class="{{if item._selected 'selected'}}{{if item._unselectable ' unselectable'}}" {{action 'clickItemAction' item bubbles=false}}>
				{{get-value item itemLabel}}
			</li>
		{{/each}}
	</ul>
</div>
