

{{#if iconName}}
	{{md-button class="icon" name=iconName onClick=(action "openMenu") bubbles=false}}
{{else if small}}
	{{md-button class="icon" name="more_vert" onClick=(action "openMenu") bubbles=false}}
{{else}}
	<button class="menu-button" {{action 'openMenu' bubbles=false}}>{{menuTitle}}</button>
{{/if}}

<div class="list-container">
	<ul class="select-container{{if highlightSlected '' ' hl-disabled'}}" {{action "stopPropagation" bubbles=false}}>
		{{#each model as |item|}}
			<li class="{{if item._selected 'selected'}}{{if item._unselectable ' unselectable'}}" {{action 'clickItemAction' item bubbles=false}}>
				{{get-value item itemLabel}}
			</li>
		{{/each}}
	</ul>
</div>
