
<div class="tabs">
	{{#if model}}
		{{#each model as |tab|}}
			{{#if tab.isViewable}}
				<span class="tab-name{{if tab.active ' active'}}" {{action 'changeTab' tab bubbles=false}}>
					{{tab.tabName}}

					{{#if tab.showBadge}}
						<span class="bc-tabs-badge bc-tabs-badge-{{if tab.badgeColor tab.badgeColor 'default'}}">{{tab.badgeContent}}</span>
					{{/if}}
				</span>
			{{/if}}
		{{/each}}
	{{/if}}
</div>

<div class="tab-content">
	{{yield}}
</div>
