
{{#if showLabel}}
	<div class="label-container">
		<span class="label">{{labelString}}</span>
		<span class="hint">
			{{#if onClick}}
				<a class="blue-hint" {{action 'hintAction'}}>{{hint}}</a>
			{{else}}
				{{hint}}
			{{/if}}
		</span>
	</div>
{{/if}}

<div class="validate-container{{if disabled ' disabled'}}">
	{{#if autofocus}}
		{{bc-input onSubmit="enterAction" onBlur="focusOutAction" disabled=disabled autocomplete=autocomplete autofocus="autofocus"}}
	{{else}}
		{{bc-input onSubmit="enterAction" onBlur="focusOutAction" disabled=disabled autocomplete=autocomplete}}
	{{/if}}
</div>

<div class="error-container">
	{{error}}
</div>
