
{{#if showLabel}}
	<div class="label-container">
		<span class="label">{{labelString}}</span>
		<span class="hint">
			{{#if onClick}}
				<a class="blueHint" {{action 'hintAction'}}>{{hint}}</a>
			{{else}}
				{{hint}}
			{{/if}}
		</span>
	</div>
{{/if}}

<div class="validate-container{{if disabled ' disabled'}}">
	{{torpid-input onSubmit="enterAction" onBlur="focusOutAction" disabled=disabled}}
</div>

<div class="error-container">
	{{error}}
</div>
