
<ul>
	{{#each row in view.content}}
		<li class="torpid-list-row" {{action 'rowClick' row bubles=false }}>
			<span class="torpid-list-select">
				{{torpid-checkbox value=row.isSelected action="itemSelected" selectItem=row}}
			</span>

			{{#if view.hasImage}}
				<span class="torpid-list-thumbnail">
					<img src="{{if row.imageThumbUrl row.imageThumbUrl row.imagePlaceholder}}" />
				</span>
			{{/if}}

			<span class="torpid-list-content">
				{{yield row}}
			</span>
		</li>
	{{else}}

		<li class="torpid-list-no-results">No Entries Found</li>

	{{/each}}
</ul>
