

<div class="accordian-tab" {{action 'openAccordian' bubbles=false}}>{{tabName}}</div>
<div class="open-content" {{action 'openAccordian' bubbles=false}}>{{if open '-' '+'}}</div>
<div class="content">{{yield}}</div>
