
<div class="box">
	{{#if disabled}}
		<input type="{{type}}" id="{{name}}-{{value}}-radio" name="{{name}}" value="{{value}}"  checked={{checked}} disabled>
	{{else}}
		<input type="{{type}}" id="{{name}}-{{value}}-radio" name="{{name}}" value="{{value}}" checked={{checked}}>
	{{/if}}
	<label for="{{name}}-{{value}}-radio"></label>
</div>

<span>
	{{#if label}}
		{{label}}
	{{else}}
		{{label}}
	{{/if}}
</span>
