
<div class="accordian-tab" {{action 'openAccordian' bubbles=false}}>{{tabName}}</div>

{{#if open}}
	<div class="open-content" {{action 'openAccordian' bubbles=false}}>-</div>
{{else}}
	<div class="open-content" {{action 'openAccordian' bubbles=false}}>+</div>
{{/if}}

<div class="content">
	{{yield}}
</div>
