
{{#each row in content}}
	<div class="torpid-list-row" {{action 'rowClick' row bubles=false }}>
		<span class="torpid-list-extra">
			<div class="select">
				<div>
					{{torpid-checkbox value=row.isSelected action="itemSelected" selectItem=row}}
				</div>
			</div>
			<div class="image">
				<img src="{{if row.imageThumbUrl row.imageThumbUrl row.imagePlaceholder}}" />
			</div>
		</span>

		{{yield row}}
	</div>
{{else}}
	<div class="torpid-list-no-results">
		<span>No Entries Found</span>
	</div>
{{/each}}
