
{{#if showLabel}}
	<div class="label-container">
		<span class="label">{{labelString}}</span>
		<span class="hint">
			{{#if onClick}}
				<a class="blueHint" {{action 'hintAction'}}>{{hint}}</a>
			{{else}}
				{{hint}}
			{{/if}}
		</span>
	</div>
{{/if}}

{{#if disabled}}
	<div class="validate-container disabled">
		{{view torpidInput disabled=true}}
	</div>
{{else}}
	<div class="validate-container">
		{{view torpidInput}}
	</div>
{{/if}}

<div class="error-container">
	{{error}}
</div>
